html, body {
  font-family: 'Courier', monospace;
  margin: 0; }
  html *, body * {
    max-width: 100%; }

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background ease 500ms; }

button:hover {
  -webkit-transition: background ease 500ms; }

footer, .presentation, .initial-options, nav {
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em; }

footer {
  font-size: .8em;
  padding: 0 !important; }

footer, .presentation, .initial-options, nav {
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em; }

.presentation > h1 {
  font-size: 3em;
  margin-top: 0; }

.initial-options {
  box-sizing: border-box;
  display: flex;
  font-size: .9em;
  flex-wrap: wrap; }
  .initial-options > * {
    box-sizing: border-box;
    text-align: center;
    padding: 1em;
    width: 100%; }
    @media (min-width: 480px) {
      .initial-options > * {
        width: 50%; } }
  @media (min-width: 480px) {
    .initial-options > *:nth-child(2) {
      border-left: 1px solid #000; } }
  .initial-options p {
    text-align: left; }
  .initial-options .first-example > button {
    background: #EF9A9A;
    border: solid #F44336 2px;
    color: #C62828; }
    .initial-options .first-example > button:hover {
      background: #E57373; }
  .initial-options .library > button {
    background: #9FA8DA;
    border: solid #3F51B5 2px;
    color: #283593; }
    .initial-options .library > button:hover {
      background: #7986CB; }
  .initial-options button {
    border-radius: 3px;
    font-family: inherit;
    font-size: 1.3em;
    font-weight: bold;
    height: 4em;
    margin: 0.25em;
    padding: .5em;
    text-align: center;
    width: 12em; }

.tilter {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-size: cover;
  flex: none;
  color: #fff;
  perspective: 1000px; }

.tilter * {
  pointer-events: none; }

.tilter:hover,
.tilter:focus {
  color: #fff;
  outline: none; }

.tilter__figure,
.tilter__image {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0; }

.tilter__figure > * {
  transform: translateZ(0px);
  /* Force correct stacking order */ }

.tilter__figure {
  position: relative; }

.tilter__figure::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  box-shadow: 0 30px 20px rgba(35, 32, 39, 0.5); }

.tilter__deco {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.tilter__deco--overlay {
  background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4)); }

.tilter__deco--shine div {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%); }

.tilter__deco--lines {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px; }

.tilter__caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4em; }

.tilter__title {
  font-family: 'Abril Fatface', serif;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1;
  margin: 0; }

.tilter__description {
  font-size: 0.85em;
  margin: 1em 0 0 0;
  letter-spacing: 0.15em; }

nav {
  box-sizing: border-box;
  display: flex;
  font-size: .9em;
  flex-wrap: wrap; }
  nav div {
    width: 100%;
    height: 60px; }
  nav button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    text-transform: uppercase; }
    nav button:hover {
      background-color: black;
      border: 1px solid white;
      color: white; }

footer, .presentation, .initial-options, nav {
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em; }

button.back-button {
  background: #EF9A9A;
  border: solid #F44336 2px;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  height: 1.6em;
  margin-left: .5em;
  position: fixed;
  width: 1.6em;
  z-index: 5; }
  button.back-button:hover {
    background: #E57373; }

#main-score {
  min-height: 50vh;
  margin: 0 auto; }

.file-header h1 {
  text-align: center; }

footer, .presentation, .initial-options, nav {
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em; }

.lib-header h1 {
  font-size: 3em;
  text-align: center;
  margin-top: .5em; }

.lib-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90vw; }
  .lib-wrapper > * {
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    width: 100%; }
    @media (min-width: 480px) {
      .lib-wrapper > * {
        width: 50%; } }
  .lib-wrapper .file-navigator {
    max-height: 50vh;
    overflow-y: auto;
    width: 100%; }
    .lib-wrapper .file-navigator option {
      padding: .3em; }
  .lib-wrapper .buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; }
    .lib-wrapper .buttons button {
      background-color: #3F51B5;
      border: solid 1px #283593;
      border-radius: 3px;
      color: #fff;
      font-family: inherit;
      font-size: 1.3em;
      font-weight: bold;
      height: 4em;
      margin: 0.25em;
      padding: 0;
      text-align: center;
      width: 12em; }
      .lib-wrapper .buttons button:hover {
        background-color: #9FA8DA; }
