@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "breakpoints";
@import "colors";
@import "small_block";

.presentation{
    @extend %small-block;
    & > h1 {
        font-size: 3em;
        margin-top: 0;
    }
}

.initial-options{
    @extend %small-block;
    box-sizing: border-box;
    display: flex;
    font-size: .9em;
    flex-wrap: wrap;
    & > * {
        box-sizing: border-box;
        text-align: center;
        padding: 1em;
        width: 100%;
        @include breakpoint($not-phone){
            width: 50%;
        }
    }
    @include breakpoint($not-phone){
        & > *:nth-child(2){
            border-left: 1px solid #000;
        }
    }
    p{
        text-align: left;
    }
    .first-example > button{
        background: red(2);
        border: solid red() 2px;
        color: red(8);
        &:hover{ background: red(3); }
    }
    .library > button{
        background: indigo(2);
        border: solid indigo() 2px;
        color: indigo(8);
        &:hover{ background: indigo(3); }
    }
    button {
        border-radius: 3px;
        font-family: inherit;
        font-size: 1.3em;
        font-weight: bold;
        height: 4em;
        margin: 0.25em;
        padding: .5em;
        text-align: center;
        width: 12em;
    }
}

.tilter {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-size: cover;
    flex: none;
    // width: 300px;
    // height: 415px;
    // margin: 1.5em 2.5em;
    color: #fff;
    perspective: 1000px;
}

.tilter * {
    pointer-events: none;
}

.tilter:hover,
.tilter:focus {
    color: #fff;
    outline: none;
}

.tilter__figure,
.tilter__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.tilter__figure > * {
    transform: translateZ(0px); /* Force correct stacking order */
}

.tilter__figure {
    position: relative;
}

.tilter__figure::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.tilter__deco--overlay {
    background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

.tilter__deco--shine div {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
}

.tilter__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4em;
}

.tilter__title {
    font-family: 'Abril Fatface', serif;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

.tilter__description {
    font-size: 0.85em;
    margin: 1em 0 0 0;
    letter-spacing: 0.15em;
}


nav {
    @extend %small-block;
    box-sizing: border-box;
    display: flex;
    font-size: .9em;
    flex-wrap: wrap;
    // & > * {
    //     box-sizing: border-box;
    //     text-align: center;
    //     padding: 1em;
    //     width: 100%;
    // }
    
    div{
        width:100%;
        height:60px;
    }

    button { 
        width: 150px;
        height: 50px;
        background-color:transparent;
        color: black;
        border:1px solid black;
        padding: 10px 20px;
        text-transform: uppercase;
        &:hover {
            background-color: black;
            border: 1px solid white;
            color: white;
        }
    }
}
